<!DOCTYPE html>
<html>
  <head>
    <title>My Map</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://openlayers.org/en/v4.1.1/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x-->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.1.1/build/ol.js"></script>
    <script src="https://cdn.bootcss.com/echarts/3.6.2/echarts.common.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  </head>
  <body onmousemove="mousemove(event)">
  <div class="nav" id="navigate">
  <ul class="nav nav-pills">
  <li role="presentation"><a href="#"><i class="icon">&#xe905;</i>&nbsp;&nbsp;Home</a></li>
  <li role="presentation"><a href="https://github.com/inertiabeer/web-gis"><i class="icon">&#xe901;</i>&nbsp;&nbsp;Code</a></li>
  <li role="presentation"><a href="https://inertiabeer.github.io/"><i class="icon">&#xe902;</i>&nbsp;&nbsp;Contact</a></li>
  
   <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon">&#xe922;</i>&nbsp;&nbsp;Action<span class="caret"></span></a>
          <ul class="dropdown-menu" style="max-height: 600px;overflow: scroll;">
          </ul>
  </li>
  <li role="presentation"><a href="javascript:;" onclick="showEchart()" class='echart'><i class="icon">&#xe900;</i>&nbsp;&nbsp;Echart</a></li>
  <li role="presentation"><a href="#" class="logout"><i class="icon">&#xe974;</i>&nbsp;&nbsp;Log out</a></li>
  <li role="presentation" id="display_name"><a href="#"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></a></li>

  

</ul>
  </div>
  <div class="board" onmousedown="mousedown(event)" onmouseup="mouseup(event)">
    <!--drag事件不太好用，试试能不能自己封装一个-->
    <!--draggable="true" ondrag="drag(event)" ondragend="dragend(event)"-->
  <i class="arrow_icon"   >&#xe903;</i>
  <ul class="nav nav-pills console">
  <li class="board_left" ><a href="javascript:;" onclick="left()"><i class="arrow_icon">&#xea39;</i></a></li>
  <li class="board_up"><a href="javascript:;" onclick="up()"><i class="arrow_icon">&#xea32;</i></a></li>
  <li class="board_down"><a href="javascript:;" onclick="down()"><i class="arrow_icon">&#xea36;</i></a></li>
  <li class="board_right"><a href="javascript:;" onclick="right()"><i class="arrow_icon">&#xea34;</i></a></li>
  
  </ul>
  </div>
    <div class="main">
      <div id="sidebar">
        <div>
          <div class="form-group">
            <label for="name">城市名称: </label>
            <input id="name" type="text" placeholder="请输入城市名称">
          </div>
          <div class="form-group">
            <label for="point">城市坐标: </label>
            <input id="point" type="text">
          </div>
          <div class="form-group">
            <label for="img">城市名称: </label>
            <input id="img" type="file" accept="image/png,image/gif,image/jpeg">
          </div>
          <button id="upload" class="btn btn-primary">上传</button>
        </div>

        <div>
          <div class="form-group">
            <label for="delete">城市名称: </label>
            <input id="delete" type="text" placeholder="请输入删除城市">
          </div>
          <button onclick="m_delete()" class="btn btn-primary">删除</button>
        </div>

        <div>
          <div class="form-group">
            <label for="query">城市名称: </label>
            <input id="query" type="text" placeholder="请输入查询城市">
          </div>
          <button onclick="m_query()" class="btn btn-primary">查询</button>
        </div>
      </div>
      <div id="map" class="map"></div>
      <div id="delbar" class="delbar">
        <table id="table" class="table table-hover">
          <tr>
            <th>ID</th>
            <th>名称</th>
            <th>操作</th>
          </tr>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div id="popup" class="ol-popup"><a id="popup-closer" href="#" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
    </div>
    <div id="overlay"></div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src=js/nav.js></script>
    <script src="js/main.js"></script>
    <script src="js/delbar.js"></script>
    <script src='js/dragfile.js'></script>
  </body>
</html>