body {
      height: 100%;
      width: 100%;
      overflow: hidden;
      }
img
{
  width: 80%;
  margin-left: 10%;


}
.md-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 200;
}
#submit
{
  display: block;
  padding: 10px;
}
#cancel,#submit
{
  margin: 0 auto;
}

.uploadForm
{
  z-index: 200;
  display: flex;
  flex-direction: column;
  flex-wrap: row;
  justify-content: flex-start;

  width: 70%;
  max-height: 60%;
  background-color: white;
  position: absolute;
  left: 15%;
  bottom: 20%;
  overflow: scroll;
  border: 2px solid #ccc;
  border-radius: 1em;
  opacity: 0.8;
  text-align: center;
  box-shadow: 0 0 5px #ccc;


}
.chart_w
{
  height: 60%;
}
.chart
{ 
  height: 80%;
  width: 100%;
  
  font-size: 1em;
  
}

      #tip {
      background-color: #ddf;
      color: #333;
      border: 1px solid silver;
      box-shadow: 3px 4px 3px 0px silver;
      position: absolute;
      top: 10px;
      right:10px;
      border-radius: 5px;
      overflow: scroll;
      line-height: 20px;
      }
      input {
      display:inline-block; 
      padding: 0.3em;
      height: 1.6em;
      border: 1px solid grey;
      padding: 5px;
      /*width: 5em;*/
      max-width: 8em;
      border-radius: 3px;
      outline: none;
      }
      #option
      {
      height: 10%;
      width: 100%;
      box-shadow: 0 0px 10px #655;
      margin: 0 auto;
      position: absolute;
      
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items:center;
      }

      button,#submit,#cancel
      {
      padding: .3em .8em;
      
      font-size: 1em;

      border: 1px solid rgba(0,0,0,1);
      background: #58a linear-gradient(hsla(0,0%,100%,.2),transparent);
      border-radius: .2em;
      box-shadow: 0  .05em .25em rgba(0,0,0,.5);
      color: white;
      text-shadow: 0 -0.05em .05em rgba(0,0,0,.5);

      }
      .button
      {
        max-width: 4em;

        margin: 0 auto;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
      }